.box {
    background-color: orange;
    border: solid red 2px;
    width: 300px;
    margin: 30px;
}
p {
    border: solid green 2px;
    padding-bottom: 50px;
    width: 120px;
    margin-left: 20px;
}